<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bd.com.ipay.ipayskeleton">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utilities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_ipay"
        android:label="@string/app_name"
        android:logo="@drawable/logo_ipay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activities.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.DetailsNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SendMoneyActivity"
            android:label="@string/send_money"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.MakePaymentActivity"
            android:label="@string/payment"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:label="@string/password_recovery"
            android:parentActivityName=".Activities.SignupOrLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.AddMoneyActivity"
            android:label="@string/add_money"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.TopUpActivity"
            android:label="@string/topup"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.WithdrawMoneyActivity"
            android:label="@string/withdraw_money"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.RequestMoneyActivity"
            android:label="@string/request_money"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.EventActivity"
            android:label="@string/events"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.AddParticipantsInEventActivity"
            android:label="@string/add_participants"
            android:parentActivityName=".Activities.EventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SignupOrLoginActivity"
            android:label="@string/sign_up_with_ipay"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.TourActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.QRCodeViewerActivity"
            android:label="@string/request_money"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBarNoElevation" />
        <activity
            android:name=".Activities.SendMoneyReviewActivity"
            android:label="@string/review_and_send"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.RequestMoneyReviewActivity"
            android:label="@string/review_and_request"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MobileTopUpReviewActivity"
            android:label="@string/review_and_recharge"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>